NEO4J_URI=neo4j+s://xxxxxxx.databases.neo4j.io
NEO4J_USERNAME=xxxxxx
NEO4J_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Hugging Face Token (For calling MinerU and embedding agents)
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxx

# Groq API Key (Optional: for extremely fast and free Llama-3 inference instead of Ollama)
GROQ_API_KEY=xxxxxxxxxxxxxxxxxx

SPACE_API_KEY="xxxxxxxxxxxx"

NOMIC_API_KEY=your_nomic_api_key_here

QDRANT_URL="https://xxxxxxxxxxxxxx-1-0.aws.cloud.qdrant.io"
QDRANT_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# If using local Ollama (Leave as is if you are running ollama on your machine)
OLLAMA_BASE_URL=http://localhost:11434